@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme-default.css';

@layer utilities {
  .container {
    @apply mx-auto px-4 max-w-screen-xl; /*max-w-screen-xl*/
  }
  .container-fluid {
    @apply mx-auto px-4 md:px-8 lg:px-20;
  }
  .min-h-screen-minus-menu,
  .min-h {
    min-height: calc(100vh - 400px);
  }
  .min-h-screen-1sur3 {
    min-height: 33.333333%;
  }
  .min-h-screen-3sur4 {
    min-height: 75%;
  }
  a {
    @apply cursor-pointer;
  }
  .liner-heading {
    letter-spacing: -0.5px;
    line-height: 120%;
  }
  .light-bg,
  .bg-light {
    background-color: #f5f5f5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: Figtree, Inter, ui-sans-serif, system-ui, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji' !important;
  }
}
